* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(31, 3, 134, 0.616);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.App {
  text-align: left;
  margin: 5px 0 0 5px;
}

.Message {
  color: slateblue;
}

.input {
  border: 1px solid rgb(177, 39, 39);
  margin-right: 5px;
  outline: none;
  background-color: snow;
}

.navlink:hover {
  background-color: rgb(161, 233, 255);
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgrey;
  min-height: 30px;
}